
<div class="footer py-8 px-4 md:px-12 lg:px-28 bg-orange-700">
  <div
    class="flex justify-between items-center gap-4 flex-wrap border-b border-amber-600 pt-3 pb-8 mb-8"
  >
    <h1 class="font-semibold text-4xl text-white">
      Partner with us
      <span class="inline-block masked"> Today </span>
    </h1>
    <button class="px-4 py-2 rounded-tr-2xl bg-amber-400 font-medium">
      <small> Work with us <span class="text-white">→</span> </small>
    </button>
  </div>
  <div class="flex flex-col gap-6 sm:grid grid-cols-3 text-sm leading-10 text-white pb-4">
    <div>
      <div class="flex items-center gap-8">
        <img src="../../../assets/001-facebook.svg" alt="facebook">
        <img src="../../../assets/003-twitter.svg" alt="x">
        <img src="../../../assets/004-instagram.svg" alt="insta">
      </div>
    </div>
    <div>
      <ul>
        <li class="font-bold">Head Office</li>
        <li>Address: 3rd floor &#64;No 45,</li>
        <li>Osolo way Ajao-Estate,</li>
        <li>Lagos.</li>
        <li>Tel: +234 817 716 4374</li>
        <li>+234 810 491 4779</li>
        <li>Email: info&#64;trignergy.com</li>
      </ul>
    </div>
    <div>
      <ul>
        <li class="font-bold">Our Services</li>
        <li>Aircraft Defueling</li>
        <li>Logistics</li>
        <li>Aviation Consulting</li>
        <li>Plane Fueling</li>
      </ul>
    </div>
    <!-- //TODO - link these links to the fragments in other pages -->
  </div>
</div>
