<!-- <p>home works!</p> -->
<div class="relative bg-black">
  <div class="container py-8 mx-auto">
    <div class="sm:flex gap-8 sm:-mt-16 ps-8 xl:ps-0">
      <div class="flex flex-col mb-3">
        <img src="../../../assets/Icon(1).svg" alt="icon" class="w-6 sm:w-8" />
        <div class="text-yellow-600 font-semibold">50k+ Satisfied Clients</div>
        <small class="text-xs text-white">believe in our services</small>
      </div>
      <div class="flex flex-col">
        <img src="../../../assets/Icons(2).svg" alt="icon" class="w-6 sm:w-8" />
        <div class="text-yellow-600 font-semibold">10k+ deliveries</div>
        <small class="text-xs text-white">efficient facilities</small>
      </div>
    </div>
  </div>
  <div class="right-0 bottom-0 sm:absolute">
    <div
      class="bg-orange-700 w-full overflow-clip sm:w-56 px-4 pt-4 pb-6 text-white relative sm:rounded-tl-md"
    >
      <div class="flex justify-between gap-8 mb-1">
        <div>Excellent</div>
        <img src="../../../assets/Group 129.svg" alt="" />
      </div>
      <div class="flex gap-1 mb-3">
        <img src="../../../assets/Iconly/Bold/Star.svg" alt="" />
        <img src="../../../assets/Iconly/Bold/Star.svg" alt="" />
        <img src="../../../assets/Iconly/Bold/Star.svg" alt="" />
        <img src="../../../assets/Iconly/Bold/Star.svg" alt="" />
        <img src="../../../assets/Iconly/Bold/Star.svg" alt="" />
      </div>
      <p class="text-xs">From 3,624 reviews</p>
      <div
        class="right-0 bottom-0 -skew-x-3 -rotate-6 absolute translate-x-1/3 translate-y-1/3 p-1 border-t border-l rounded-s-xl rounded-t-full"
      >
        <div class="p-2 border-t border-l rounded-s-xl rounded-t-full">
          <div class="p-2 border-t border-l rounded-s-xl rounded-t-full">
            <div class="p-1 border-t border-l rounded-s-xl rounded-t-full">
              <div
                class="p-1 border-t border-l rounded-s-xl rounded-t-full w-24"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-14">
  <p class="text-gray-600 font-semibold text-center text-base mb-8">
    Trusted by 100+ Companies across the globe!
  </p>
  <div
    class="sm:flex justify-between grid grid-cols-2 content-center justify-items-center"
  >
    <img src="../../../assets/image 1.svg" alt="" />
    <img src="../../../assets/image 2.svg" alt="" />
    <img src="../../../assets/image 3.svg" alt="" />
    <img src="../../../assets/image 4.svg" alt="" />
    <img src="../../../assets/image 5.svg" alt="" />
    <img src="../../../assets/image 6.svg" alt="" />
  </div>
</div>
<div class="container px-8 md:px-20 pt-12 pb-24">
  <div class="grid gap-8 sm:grid-cols-2">
    <div>
      <p class="font-bold text-2xl sm:text-4xl mb-3 text-pretty">
        Welcome to Trig <span class="text-orange-700">Energy Limited</span>
      </p>
      <div class="text-xs md:text-sm mb-6 text-balance">
        Trig Energy is an oil marketing company incorporated in Nigeria with its
        head office located in Lagos, Nigeria. Trig Energy Ltd is one of the
        aviation marketing companies in Nigeria offering aviation fuel services,
        with operations in the major commercial aviation centers in the country
      </div>
      <ol class="list-item list-inside">
        <li>
          <span class="text-orange-700 font-semibold">01/&nbsp;&nbsp;</span>Quality
          Products
        </li>
        <li>
          <span class="text-orange-700 font-semibold">02/&nbsp;&nbsp;</span>Team
          Strengths
        </li>
        <li>
          <span class="text-orange-700 font-semibold">03/&nbsp;&nbsp;</span>Quality
          Customer Support
        </li>
      </ol>
    </div>
    <div class="relative">
      <img src="../../../assets/Rectangle 30.png" class="" alt="" />
      <div
        class="absolute rounded-lg p-4 bg-orange-700 text-white left-0 bottom-0 sm:-left-8"
      >
        <img src="../../../assets/Solar Charging.svg" alt="" />
        <small class="whitespace-nowrap font-semibold"
          >7+ years of experience</small
        >
      </div>
    </div>
  </div>
</div>
<div class="container px-8 md:px-20 py-16 bg-orange-700">
  <p class="font-bold text-2xl mb-6 text-pretty text-white">
    With over 7+ years of experience
  </p>
  <div class="sm:flex gap-6">
    <div class="rounded-md mb-6 sm:basis-1/2  py-4 px-3 text-center bg-slate-50 bg-opacity-25 text-white">
      <span class="font-semibold">Our Vision</span>
      <div class="text-xs">
        To be recognized as a trusted provider of quality petroleum products in
        the downstream oil and gas industry and beyond.
      </div>
    </div>
    <div class="rounded-md sm:mb-6 sm:basis-1/2 py-4 px-3 text-center text-slate-950 bg-slate-50">
      <span class="font-semibold">Our Mission</span>
      <div class="text-xs">
        To become a fully integrated Energy solution in the Aviation refueling
        downstream industry and beyond, providing efficient and quality products
        and services for the benefit of our clients, partner and stakeholders.
      </div>
    </div>
  </div>
</div>
